{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "xo-react/space",
    "xo-space/esnext"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
